@import "variables";


* {
    margin: 0px;
    padding: 0px;
}


.body {
    display: grid;
    gap: 10px;
    height: auto;
    width: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "header header "
                         "banner banner"
                         "qs     qs"
                         "museo  museo"
                         "footer footer";
}

.header {
    grid-area: header;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    animation-name: aparecer;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
  

.navbar {
    grid-area: navbar;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: left;
    padding-right: 10px;
    animation-name: aparecer;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    gap: 20px;
  }

.banner {
    grid-area: banner;
    height: auto;
    padding: 0%;
    width: 100%;
    gap: 15px;
}

.qs {
    grid-area: qs;
    height: map-get($tarjeta, alto );
    width: map-get($tarjeta, ancho );
    padding: map-get($tarjeta, margen_int );
    border-radius: map-get($tarjeta, radio );
    align-self: map-get($tarjeta, alineacion);
    justify-self: map-get($tarjeta, justificado );
}

.img{
    border-radius: 10px;
}

.museo {
    grid-area: museo;
    height: map-get($tarjeta, alto );
    width: map-get($tarjeta, ancho );
    padding: map-get($tarjeta, margen_int );
    border-radius: map-get($tarjeta, radio );
    align-items: map-get($tarjeta, alineacion);
    justify-content: map-get($tarjeta, justificado );
    align-self: map-get($tarjeta, alineacion);
    justify-self: map-get($tarjeta, justificado );
}


.footer {
    width: 80%;
    grid-area: footer;
    display: flex;
    gap: 20px;
    align-self: center;
    justify-self: center;
}



.body__autos {
    display: grid;
    gap: 10px;
    height: auto;
    width: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header header "
                         "banner banner"
                         "main   main"
                         "footer footer";
}

.header{
    grid-area: header;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    animation-name: aparecer;
    animation-duration: 4s;
    animation-iteration-count: 1;
     
}

.banner{
    grid-area: banner;
    height: auto;
    padding: 0%;
    width: 100%;
    gap: 15px;
}

.main{
    grid-area: main;
    height: map-get($tarjeta, alto );
    width: map-get($tarjeta, ancho );
    padding: map-get($tarjeta, margen_int );
    border-radius: map-get($tarjeta, radio );
    align-self: map-get($tarjeta, alineacion);
    justify-self: map-get($tarjeta, justificado );
}

.footer{
    grid-area: footer;
    width: 80%;
    display: flex;
    gap: 20px;
    align-self: center;
    justify-self: center;
}



.body__historia {
    display: grid;
    gap: 10px;
    height: auto;
    width: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header header"
                         "banner banner"
                         "main   main"
                         "footer footer";
}

.header{
    grid-area: header;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    animation-name: aparecer;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

.banner{
    grid-area: banner;
    height: auto;
    padding: 0%;
    width: 100%;
    gap: 15px;
}

.main{
    grid-area: main;
}

footer{
    grid-area: footer;
    grid-area: footer;
    width: 80%;
    display: flex;
    gap: 20px;
    align-self: center;
    justify-self: center;
}

.body__contacto {
    display: grid;
    gap: 10px;
    height: auto;
    width: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header header"
                         "banner banner"
                         "main   main"
                         "footer footer";
}

.header{
    grid-area: header;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    animation-name: aparecer;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

.banner{
    grid-area: banner;
    height: auto;
    padding: 0%;
    width: 100%;
    gap: 15px;
}

.main{
    grid-area: main;
}

footer{
    grid-area: footer;
    grid-area: footer;
    width: 80%;
    display: flex;
    gap: 20px;
    align-self: center;
    justify-self: center;
}

.body__restaurante{
    display: grid;
    gap: 10px;
    height: auto;
    width: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header header"
                         "banner banner"
                         "main   main"
                         "footer footer";
}

.header{
    grid-area: header;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    animation-name: aparecer;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

.banner{
    grid-area: banner;
    height: auto;
    padding: 0%;
    width: 100%;
    gap: 15px;
}

.main{
    grid-area: main;
}

footer{
    grid-area: footer;
    grid-area: footer;
    width: 80%;
    display: flex;
    gap: 20px;
    align-self: center;
    justify-self: center;
}
